# IDE / éditeurs
.idea/

# Dépendances PHP (installées par Composer)
vendor/

# Fichiers de configuration ou sensibles
.env
.env.local
.env.*.local


# Fichiers de log / cache
*.log
*.cache
*.tmp
*.swp

# Dossiers d’uploads (pour éviter de versionner les fichiers utilisateur)
upload/
upload/
upload/
upload/
upload/



# Système
.DS_Store
Thumbs.db

# Node (si tu utilises npm/yarn pour le frontend)
node_modules/
package-lock.json
npm-debug.log*
